.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5vw;
  margin-bottom: 2.5vh;
}

.App-header-logo {
  display: flex;
  flex-direction: row;
  font-size: 5vh;
  gap: 1vw;
  align-content: center;
  text-shadow: 0px 5px 5px white;
}

.App-header-logo-img img {
  max-height: 3.5vh;
}

.App-header-stat,
.App-header-options-button,
.App-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3vh;
  padding: 1vh 1vw 1vh 1vw;
  background-color: #ffd9ab90;
  border: 2.5px solid #c68d79;
  border-radius: 20px;
  text-align: left;
}

.App-header-stat-img img {
  max-width: 2vw;
}

.App-header-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vh;
}

.App-header-options-img img {
  max-width: 5vh;
}

.App-header-options-button img {
  max-width: 3vh;
}

.App-header-options-button,
.App-button {
  font-size: 2.75vh;
  font-weight: bold;
  gap: 1.5vw;
}

.App-button {
  justify-self: center;
  justify-content: center;
  width: auto;
  margin: 2vh;
}

.App-button-x {
  display: block;
  justify-self: right;
  padding: 1.5vh 1.75vw 0 0;
  font-size: 2vh;
  font-weight: bold;
}

.App-header-logo:hover,
.App-header-options-button,
.App-button:hover,
.App-button-x:hover {
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

.App-img {
  max-height: 50%;
}

.App-input {
  height: 20vh;
  width: 20vw;
  font-size: 20vh;
  background-color: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-color: black;
  border-width: 5px;
}

.App-popup {
  position: absolute;
  align-content: center;
  z-index: 10;
  background-color: #c68d79ee;
  border: 5px solid #935d51;
  border-radius: 4vh;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}