#root,
html,
body {
  height: 97.5%;
  margin: 1vh;
  background-color: #f5e7d8;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

html * {
  font-family: "Times New Roman", Times, serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  all: unset; /* wipes ALL default browser styles */
  transition: transform 0.2s; /* Animation */
}

button:hover {
  transform: scale(0.975); /* 2.5% zoom in */
}

a {
  all: unset;
}

h1 {
  font-size: 5vh;
  margin: 0;
}

h2 {
  font-size: 4vh;
  margin: 0;
}

h3 {
  font-size: 3vh;
  margin: 0;
}

p {
  all: unset;
  font-size: 2vh;
}

.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  gap: 5vh;
}

.Card {
  flex: 1 1 auto;
  width: 40vw;
  background-color: #97da7b;
  border: 5px solid #00c27a;
  border-radius: 5vh;
  height: 100%;
  align-content: center;
}

.gridCard {
  display: flex;
  width: 90%;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-self: center;
  justify-content: center;
  margin: 2vh;
  gap: 1.5vh;
}

.playingCard {
  max-height: 50vh;
}

.gameplayCard {
  max-height: 20vh;
  margin-right: 5px;
  transition: transform 0.3s ease;
}

.gameplayCard-noTransition {
  max-height: 7.5vw;
  margin-right: 5px;
}

.gameplayCard:hover {
  transform: scale(1.25);
  margin-right: 5px;
}

.gameplayCard2 {
  max-height: 6vw;
  margin-right: 5px;
  transition: transform 0.3s ease;
}
